body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 123);
}

#layout {
    margin: auto;
    margin-top: 10vh;
    position: relative;
    width: 70vh;
    height: 70vh;
    background-color: rgb(24, 6, 116);
    display: flex;
    flex-direction: column;
}

#box {
    height: 38vh;
    width: 30vh;
    position: absolute;
    right: 4vh;
    top: 4vh;
    line-height: 1;
    padding-left: 10px;
    font-size: 1.2rem;
    background-color: rgb(254, 245, 232);
    color: gray;
    box-shadow: 2px 2px 20px 3px rgb(119, 161, 161), 
            -2px -2px 20px 3px rgb(119, 161, 161);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sun {
    background: transparent;
    position: absolute;
    color: wheat;
    margin: 10vh ;
    margin-left: 15vh;
}

#city {
    margin: 20vh 0 20vh 5vh;
    /* margin-top: 20vh; */
    color: wheat;
    /* display: flex; */
    /* align-items: center; */
}

#address {
    font-size: 1.8rem;
    margin-bottom: 0;
}

#date-time {
    font-size: 1rem;
    margin: auto;
}

#address i {
    margin-right: 1vh;
    animation: animate 1.5s linear 0s infinite alternate ;
}
@keyframes animate {
    0% { transform: translateX(-1vh);}
    100% { transform: translateX(1vh);}
}

#temperature {
    margin: -18vh 0 0 5vh;
    color: wheat;
    font-size: 1.2rem;
}

#currtemp {
    /* margin-left: 20vh; */
    /* margin-bottom: -10vh; */
    margin: auto;
}

#max-min {
    margin-top: -3vh; 
}

/* Water Wave */

#water-wave .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

@keyframes animate1 {
    0% {
        background-position-x: 00px;
    }
    100% {
        background-position-x: 1000px;
    }
}

#water-wave .wave1 {
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    animation: animate1 20s linear infinite;
}

@keyframes animate2 {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 1000px;
    }
}

#water-wave .wave2 {
    z-index: 999;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 20px;
    animation: animate2 25s linear 4s infinite;
}

@keyframes animate3 {
    0% {
        background-position-x: 50px;
    }
    100% {
        background-position-x: 500px;
    }
}

#water-wave .wave3 {
    z-index: 998;
    opacity: 0.8;
    animation-delay: 1s;
    bottom: 30px;
    animation: animate2 10s linear infinite;
}

@keyframes animate4 {
    0% {
        background-position-x: 100px;
    }
    100% {
        background-position-x: 900px;
    }
}

#water-wave .wave4 {
    z-index: 997;
    opacity: 0.5;
    animation-delay: 1s;
    bottom: 50px;
    animation: animate2 15s linear infinite alternate;
}

